<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Vincent Life</title>
</head>
<body>
    <div class="container">
        <h1>Biography</h1>
        <p> Vincent van Gogh was a Dutch post-impressionist painter born on March 30, 1853. He grew up in a family of art dealers and initially worked as an art dealer himself. However, he later became interested in painting and decided to pursue it as a career. Van Gogh struggled with mental illness for most of his life, and this affected his relationships and his ability to work. <br>

            Van Gogh's early work was heavily influenced by his time in the Netherlands, where he often painted landscapes and rural scenes. Later in his career, he moved to France and began experimenting with brighter colors and more expressive brushstrokes. Some of his most famous works, including "Starry Night" and "Sunflowers," were created during this period.<br>
            
            Despite his talent, van Gogh only sold one painting during his lifetime. He struggled to make a living and often relied on financial support from his brother, Theo. Van Gogh's mental health continued to deteriorate, and he was eventually admitted to a psychiatric hospital. He died by suicide in 1890 at the age of 37.<br>
            
            Van Gogh's work was largely unappreciated during his lifetime, but it has since become some of the most beloved and recognizable art in the world. His paintings are known for their bright colors, thick brushstrokes, and emotional intensity. Van Gogh's life has also become the subject of numerous books, films, and plays, further cementing his status as a cultural icon.</p>
        <img src="/images/VG-home.jpg" alt="Van Gogh Home"/>
    </div>
</body>
</html>