<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Vincent van Work</title>
</head>
<body>
    <div class="container">
        <h1>His most famous works</h1>
        <div class="work">
            <img src="/images/StarryNight.jpg" alt="Painting" class = "painting">
            <p>"Starry Night" (1889) - This painting is perhaps Van Gogh's most famous work. It depicts a night sky full of swirling stars and a sleepy town below.</p>
        </div>
        <div class="work">
            <img src="/images/sunflowers.jpg" alt="Painting" class = "painting">
            <p>"Sunflowers" (1888) - This series of paintings depicts vases of sunflowers in different stages of life. The bright yellow flowers against a blue background are instantly recognizable.</p>
        </div>
        <div class="work">
            <img src="/images/thepotatoeaters.jpg" alt="Painting" class = "painting">
            <p>"The Potato Eaters" (1885) - This painting shows a group of poor peasants gathered around a table, eating potatoes. The dark and somber tones of the painting capture the hard lives of the people in the scene.</p>
        </div>
        <div class="work">
            <img src="/images/Irises.jpg" alt="Painting" class = "painting">
            <p>"Irises" (1889) - This painting shows a bed of irises in a garden. The vivid colors and thick brushstrokes give the painting a sense of movement and energy.</p>
        </div>
        <div class="work">
            <img src="/images/vincent-van-gogh-la-nuit-c3-a9toil-c3-a9e-oil-on-canvas-72-x-92-cm-news-photo-1647355391.jpg" alt="Painting" class = "painting">
            <p>"The Starry Night Over the Rhône" (1888) - Similar to "Starry Night," this painting shows a night sky full of stars over a river in Arles, France. The reflections of the stars on the water create a beautiful and serene scene.</p>
        </div>
    </div>
</body>
</html>